head{
    font-family: 'Arial';
    color: blue;
    background-color: #d3d3d3;
}

body{
    font-family: 'Arial';
    color: blue;
    background-color: #d3d3d3;
}

.GFACT{
    font-family: 'Arial';
    color: black;
}
.aws{
    font-family: 'Arial';
    color: black;
}
