head{
    front-family: 'Arial';
    color: blue;
    background-color: #d3d3d3;
}

body{
    front-family: 'Arial';
    color: blue;
    background-color: #d3d3d3;
}

.linkedin{
    front-family: 'Arial';
    color: black;
    text-size-adjust: 300px;
}
.github{
    front-family: 'Arial';
    color: black;
    text-size-adjust: 300px;
}