head{
    font-family: 'Arial';
    color: blue;
    background-color: #d3d3d3;
}

body{
    font-family: 'Arial';
    color: blue;
    background-color: #d3d3d3;
}

.linkedin{
    font-family: 'Arial';
    color: black;
}
.github{
    font-family: 'Arial';
    color: black;
}